body {
  background-color: #f4f7f6;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 500px;
  width: 100%;
  background: white;
  margin: 0 auto;
  border-radius: 28px;
  border: none;
  padding: 40px !important;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
.emoji-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  gap: 10px;
}

.emoji-label {
  cursor: pointer;
  text-align: center;
  border: 2px solid #eee;
  background: #fafafa;
  padding: 15px 10px;
  transition: all 0.3s ease;
  border-radius: 20px;
  flex: 1;
  font-size: 16px;
}
.btn-check:checked + .emoji-label {
  background-color: #e8f5e9;
  border-color: #28a745;
  color: #28a745;
  font-weight: bold;
  border: 1px solid #28a745;
}
.btn-check:checked + .emoji-label img {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.emoji-label img {
  width: 50px;
  display: block;
  margin: 0 auto 5px;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
.emoji-label:hover img {
  filter: grayscale(50%);
}
.emoji-label span {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 15px;
  font-size: 16px;
}

.form-control:focus {
  background-color: #fff;
  border-color: #28a745;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.1);
}
.btn-custom {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
  transform: none;
}

.btn-custom:hover {
  background-color: #218838;
}
